---
layout: default
title: Contact
directory: /contact
forms:
  - to: me@stephanb.org
    subject: Hi, from your website
    redirect: /
    form_engine: formspree
    placeholders: true
    fields: 
      - name: fullname
        input_type: text
        placeholder: Name
        required: true
      - name: email
        input_type: email
        placeholder: Email address
        required: true
      - name: message
        input_type: textarea
        placeholder: Message
        required: false
      - name: terms
        input_type: checkbox
        placeholder: I accept terms and conditions.
        required: true
      - name: submit
        input_type: submit
        placeholder: Submit
        required: true
---

<h1>{{ page.title }}</h1>

Please direct all inquiries to: {{site.email}}<br> or else use the contact form below:

{% if page.forms[0] %}{% include form.html form="1" %}{% endif %}